{% extends "base.html" %}
{% load static %}
<html lang="ru">
<head>
{% block fancy_js_css %}
{{block.super}}
<script type="text/javascript">
function startsearch(mode) {
	$('<input />').attr('type', 'hidden')
          .attr('name', "h")
          .attr('value', mode)
          .appendTo('#form_search');
	$('form#form_search').submit();

}
</script>
{% endblock%}
</head>

<body>
{% block content %}

<div class="container-fluid">
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/coins/">Монеты</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{BASE_URL}}/coins/create">Добавить</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{BASE_URL}}/logout/">Выход&nbsp;({{user.username}})</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{BASE_URL}}/login/?next=/coins/">Войти</a>
				</li>
				{% endif%}
				
			</ul>
			<form class="form-inline my-2 my-sm-0" method="get" action="{% url 'sel' %}" id="form_search">
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					{% if after_search %}
					<a href="{{BASE_URL}}/coins"><span class="input-group-addon" id="basic-addon1">&times;</span></a>
					{% endif %}
					
					{{form.country}}
					</div>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="номинал" aria-label="Search for..." name="v" id="id_v" value="{{sv}}">
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="год" aria-label="Search for..." name="y" id="id_y" value="{{sy}}">
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="особенности" aria-label="Search for..." name="q" id="id_q" value="{{sq}}">
					<div class="btn-group bg-light">
						<button class="btn btn-secondary btn-sm" type="submit">Поиск</button>
						
						<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" aria-labelledby="dropdownMenuLink" style="position: absolute; transform: translate3d(-66px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
							<a class="dropdown-item" href="#" id="id_findexist" onclick="startsearch(1)">Поиск в коллекции</a>
							<a class="dropdown-item" href="#" id="id_findwanted" onclick="startsearch(0)">Поиск в хотелках</a>
						</div>
						
				</div>
			</form>
		</div>
	</nav>

{% if object_list %}
{% for coin in object_list %}
{% cycle 'cF' 'c2' 'c3' 'cL' as cardnum silent %}
	{% if cardnum ==  'cF'  %}
	<!--div class="card-group"-->
`	<div class="row">
	{% endif%}
		<div class="col-md-3">
		<div class="card bg-light border border-secondary rounded m-1">
			<div class="card-body">
				<div class = "row">
					<div class = "col-sm"><a href="{{ coin.url }}"><h4 class="card-title">{{coin.title}}</h4></a></div>
					<div class = "col-sm">{% if coin.specific %}<small class="text-muted">{{coin.specific}}</small>{% endif %}</div>
				</div>
				<div class = "row">
					<div class = "col-6">{% if coin.avers %}<a  data-fancybox="grp{{ forloop.counter }}" href="{{coin.avers.url}}" data-caption="{{coin.title}}"><img src="{{coin.avers.url}}" align="center" width="60" height="60" alt="{{coin.title}} - аверс"/></a>{% endif %}</div>
					<div class = "col-6">{% if coin.revers %}<a  data-fancybox="grp{{ forloop.counter }}" href="{{coin.revers.url}}" data-caption="{{coin.title}}"><img src="{{coin.revers.url}}" width="60" height="60" alt="{{coin.title}} - реверс"/></a>{% endif %}</div>
				</div>
			</div>
			{% firstof coin.comment not coin.haveit coin.country as more_info %}
			{% if more_info %}
			<div class="card-footer">
				<p class="mb-0"><small class="text-muted">{{coin.condition_text}} состояние</small></p> 
   				{% if not coin.haveit %} <p class="mb-0"><small class="text-muted">Нет в коллекции</small></p> {% endif %}
 				{% if coin.comment %} <p class="mb-0"> <small class="text-muted">{{coin.comment}}</small></p> {% endif %}
   			</div>
			{% endif %}
		</div>
		</div>
	{% if cardnum == 'cL' %}
	</div>
	{% endif %}
{% endfor %}
{% if cardnum != 'cL' %}
</div>
{% endif %}

{% else %}
    {% if after_search %}
    <p>Нет монет</p>
    {% endif %}
{% endif %}
</div>
{% endblock content %}

</body>
</html>
	
