{% load static %}

<html lang="ru-ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{% static "/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
<script src = "{% static "jquery/jquery-3.2.1.slim.min.js" %}"></script>
<script src = "{% static "popper/popper.min.js" %}"></script>
<script src ="{% static "/bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static '/fancybox/jquery.fancybox.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/fancybox/jquery.fancybox.min.css' %}" type="text/css" media="screen" />
<script type="text/javascript">

//var $= jQuery.noConflict();
function startsearch(mode) {
	$('<input />').attr('type', 'hidden')
          .attr('name', "h")
          .attr('value', mode)
          .appendTo('#form_search');
	$('form#form_search').submit();

}

$(document).ready( function() {
//$.fancybox.defaults.animationEffect = "false";
//$.fancybox.defaults.transitionEffect = "false";
$("[data-fancybox]").fancybox({
	loop : true,
	lang : "ru",
	autoSize: "true",
	i18n : {
        'ru' : {
            CLOSE       : 'Закрыть',
            NEXT        : 'Вперёд',
            PREV        : 'Назад',
            ERROR       : 'Содержание не может быть загружено.',
            PLAY_START  : 'Начать проигрывание',
            PLAY_STOP   : 'Пауза',
            FULL_SCREEN : 'Плный экран',
            THUMBS      : 'Галерея'
			},
        },

	buttons : [
        'close'
    ],


	});

			 


})


</script>

<style type="text/css">
		.fancybox-container {
			box-shadow: 0 0 50px #222;
			width: 100%;
			height: 100%;
			/*margin: 10%;*/
		}

</style>

</head>
<body>
{% block content %}
<div class="container-fluid">

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Монеты</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
     		<li class="nav-item">
        		<a class="nav-link" href="{{BASE_URL}}/coins/create">Добавить</a>
      		</li>
   		</ul>
   		<form class="form-inline my-2 my-sm-0" method="get" action="{% url 'filtered' %}" id="form_search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Номинал" aria-label="Search for..." name="v" id="id_v" value="{{sv}}">
				<input type="text" class="form-control" placeholder="Год" aria-label="Search for..." name="y" id="id_y" value="{{sy}}">
				<input type="text" class="form-control" placeholder="5 копеек СССР" aria-label="Search for..." name="q" id="id_q" value="{{sq}}">
	
				<div class="btn-group bg-light">
  					<button class="btn btn-secondary btn-sm" type="submit">Поиск</button>
					
					<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">
    					<span class="sr-only">Toggle Dropdown</span>
  					</button>
					<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" aria-labelledby="dropdownMenuLink" style="position: absolute; transform: translate3d(-66px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
						<a class="dropdown-item" href="#" id="id_findexist" onclick="startsearch(1)">Поиск в коллекции</a>
						<a class="dropdown-item" href="#" id="id_findwanted" onclick="startsearch(0)">Поиск в хотелках</a>
 					</div>
					
				</div>
	



			</div>
    	</form>
	</div>
</nav>



{% if object_list %}
{% for coin in object_list %}
{% cycle 'cF' 'c2' 'c3' 'cL' as cardnum silent %}
	{% if cardnum ==  'cF'  %}
	<!--div class="card-group"-->
	<div class="row">
	{% endif%}
		<div class="col-md-3">
		<div class="card bg-light border border-secondary rounded m-1">
			<div class="card-body">
				<div class = "row">
					<div class = "col-sm"><a href="{{ coin.url }}"><h4 class="card-title">{{coin.title}}</h4></a></div>
					<div class = "col-sm">{% if coin.specific %}<small class="text-muted">{{coin.specific}}</small>{% endif %}</div>
				</div>
				<div class = "row">
			<div class = "col-sm">{% if coin.avers %}<a  data-fancybox="grp{{ forloop.counter }}" href="{{coin.avers.url}}" data-caption="{{coin.title}}"><img src="{{coin.avers.url}}" align="center" width="60" height="60" alt="{{coin.title}} - аверс"/></a>{% endif %}</div>
					<div class = "col-sm">{% if coin.revers %}<a  data-fancybox="grp{{ forloop.counter }}" href="{{coin.revers.url}}" data-caption="{{coin.title}}"><img src="{{coin.revers.url}}" width="60" height="60" alt="{{coin.title}} - реверс"/></a>{% endif %}</div>
				</div>
			</div>
			{% firstof coin.comment not coin.haveit coin.country as more_info %}
			{% if more_info %}
			<div class="card-footer">
				{% if coin.country %} <p class="mb-0"><small class="text-muted">{{coin.country}}</small></p> {% endif %}
				<p class="mb-0"><small class="text-muted">{{coin.condition_text}} состояние</small></p> 
   				{% if not coin.haveit %} <p class="mb-0"><small class="text-muted">Нет в коллекции</small></p> {% endif %}
 				{% if coin.comment %} <p class="mb-0"> <small class="text-muted">{{coin.comment}}</small></p> {% endif %}
   			</div>
			{% endif %}
		</div>
		</div>
		
	{% if cardnum == 'cL' %}
	</div>
	{% endif %}
{% endfor %}
{% if cardnum != 'cL' %}
</div>
{% endif %}


{% else %}
<p>Нет монет</p>
{% endif %}
</div>
{% endblock %}
</body></html>

	
