{% extends 'base.html' %}
{% load static %}
<html lang="ru-ru">
<head>
</head>
<body>
{% block content %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e1e5e8;">
    <a class="navbar-brand" href="#">Начало</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<!--
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{BASE_URL}}/coins/">Монеты</a>
            </li>
			<li class="nav-item">
                <a class="nav-link disabled" href="{{BASE_URL}}/">Банкноты</a>
            </li>
			<li class="nav-item">
                <a class="nav-link disabled" href="{{BASE_URL}}/">Карты</a>
            </li>
        </ul>
	</div>
-->	
</nav>

<div class = "container-fluid">
	<div class="row">
    	<div class="col-sm-4">
        	<div class="card bg-light border-primary rounded m-1">
				<a href="#" onclick = "$('.dropdownMenuLink1').dropdown()">
            	<img class = "card-img-top" src="{% static 'coins.jpg' %}" alt="coins image" >
				</a>
            	<div class="card-body">
					{% if coins_coll %}
					<div class="dropdown show">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Монеты
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
						<h6 class="dropdown-header">Доступные коллекции:</h6>
						{% for coll in coins_coll %}
						<a class="dropdown-item" href="/coins/{{coll.url}}">{{coll.name}}</a>
						{% endfor %}
					  </div>
					</div>				
					{% else %}
					<h4>Нет доступных коллекций</h4>
					{% endif %}
            	</div>
        	</div>
    	</div>
    	<div class="col-sm-4">
        	<div class="card bg-light border border-secondary rounded m-1">
            	<img class = "card-img-top" src="{% static 'bones.jpg'%}" alt="bones image">
            	<div class="card-body">
					{% if bones_coll %}
					<div class="dropdown show">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Купюры
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
						<h6 class="dropdown-header">Доступные коллекции:</h6>
						{% for coll in bones_coll %}
						<a class="dropdown-item" href="/bones/{{coll.url}}">{{coll.name}}</a>
						{% endfor %}
					  </div>
					</div>				
					{% else %}
					<p>Нет доступных коллекций</p>
					{% endif %}
            	</div>
        	</div>
    	</div>
    	<div class="col-sm-4">
        	<div class="card bg-light border border-secondary rounded m-1">
            	<img class = "card-img-top" src="{% static 'maps.jpg'%}" alt="maps catalog">
            	<div class="card-body">
                	<a href="#" class = "btn btn-secondary">Карты</a>
            	</div>
        	</div>
    	</div>
	</div>    
</div>

{% endblock %}
</body></html>

