{% extends "base.html" %}
{% load static %}


<html lang="ru">
<head>
{% block fancy_js_css %}
<link href="{% static "login.css" %}" rel="stylesheet"> 
{% endblock %}

</head>

<body>
{% block content %}
<div class="container">

<form class="form-signin" method="post" >
{% csrf_token %}
	<h2 class="form-signin-heading">Войдите:</h2>
<label for="id_username" class="sr-only">Email</label>
<input type="text" id="id_username" class="form-control" placeholder="Email" required autofocus name="username">
<label for="id_password" class="sr-only">Пароль</label>
<input type="password" id="id_password" class="form-control" placeholder="Пароль" required name="password">
<div class="checkbox">
  <label>
	<input type="checkbox" value="remember-me"> Запомнить
  </label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
</div>

<!--
<form method="post">
{% csrf_token %}
  <div class="form-group row">
    <label for="inputLogin" class="col-sm-2 col-form-label">Логин</label>
    <div class="col-sm-4">
     {{form.username}}
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Пароль</label>
    <div class="col-sm-4">
     {{ form.password }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}
-->

</body>
</html>