{% extends "base.html" %}

<html lang="ru">
<head>
{% block fancy_js_css %}{% endblock %}
</head>

<body>
{% block content %}
<div class="container-fluid">
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Начало</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{BASE_URL}}/coins/">Монеты</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{BASE_URL}}/bones/">Купюры</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{BASE_URL}}/maps/">Карты</a>
				</li>
			</ul>
		</div>
	</nav>


<p>Вы успешно вышли</p>
{% endblock %}

</body>
</html>