{% load static %}

<html lang="ru-ru">
<head>
<meta charset="utf-8">
<link href="{% static "/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
<script src = "{% static "jquery/jquery-3.2.1.slim.min.js" %}"></script>
<script src="{% static "/bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>
{% block content %}
<div class="container-fluid">
<p>abs="{{Coin.get_absolute_url}}"</p>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Монеты</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{BASE_URL}}/create">Добавить</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Удалить</a>
      </li>
    </ul>
     <form class="form-inline my-2 my-sm-0" method="get" action="{% url 'filtered' %}">
	<div class="input-group">
	<input type="text" class="form-control" placeholder="5 копеек СССР" aria-label="Search for..." name="q" id="id_q">
	<span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Поиск</button>
      	</span>
    </form>
 </div>
</nav>



{% if object_list %}
{% for coin in object_list %}
{% cycle 'cF' 'c2' 'c3' 'cL' as cardnum silent %}
	{% if cardnum ==  'cF'  %}
	<!--div class="card-group"-->
`	<div class="row">
	{% endif%}
		<div class="col-md-3">
		<div class="card bg-light border border-secondary rounded m-1">
			<div class="card-body">
				<div class = "row">
					<div class = "col-sm"><a href="{{ coin.url }}"><h4 class="card-title">{{coin.title}}</h4></a></div>
					<div class = "col-sm">{% if coin.specific %}<small class="text-muted">Особенности: {{coin.specific}}</small>{% endif %}</div>
				</div>
				<div class = "row">
					<div class = "col-sm">{% if coin.avers %}<img src="{{coin.avers.url}}" align="center" width="60" height="60" alt="{{coin.title}} - аверс">{% endif %}</div>
					<div class = "col-sm">{% if coin.revers %}<img src="{{coin.revers.url}}" width="60" height="60" alt="{{coin.title}} - реверс">{% endif %}</div>
				</div>
			</div>
			{% firstof coin.comment not coin.haveit coin.country as more_info %}
			{% if more_info %}
			<div class="card-footer">
				{% if coin.country %} <p class="mb-0"><small class="text-muted">{{coin.country}}</small></p> {% endif %}
   				{% if not coin.haveit %} <p class="mb-0"><small class="text-muted">Нет в коллекции</small></p> {% endif %}
 				{% if coin.comment %} <p class="mb-0"> <small class="text-muted">{{coin.comment}}</small></p> {% endif %}
   			</div>
			{% endif %}
		</div>
		</div>
		
	{% if cardnum == 'cL' %}
	</div>
	{% endif %}
{% endfor %}
{% if cardnum != 'cL' %}
</div>
{% endif %}


{% else %}
<p>Нет монет</p>
{% endif %}
</div>
{% endblock %}
</body></html>

	
